/* Font Imports */
@font-face {
    font-family: Nintendo Switch;
    src: url(fonts/NINTENDOSWITCHUI.TTF);
}

@font-face {
    font-family: Clock Font;
    src: url(fonts/JetJaneMono\ Bold.ttf);
}

html {
    background-image: url("assets/background.png");
}

body {
    color: #000000;
    font-size: 2vh;
    font-family: Nintendo Switch, Verdana;
    height: 100vh;
    overflow: hidden;
    margin-top: 0px;
}

.element-shadow{
    box-shadow: 0px 0px 0.3vw rgba(0, 0, 0, 0.67);
}

header{
    flex-direction: row;
    display: flex;
    width : 100%;
    height: 15vh;
    justify-content: space-between;
    align-items: top;
}

.button{
    border : 0.8vh;
    border-style:solid;
    border-radius: 999px;
    display: flex;
    width: fit-content;
    /* make border transparent by default*/
    border-color: #33a7a700;
}

.button:hover {
    border-color: #33a7a7;
}

.button ~ h3{
    color: rgb(83, 83, 83, 0);
    font-weight: bolder;
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin: 3px 0px;
    overflow: visible;
    white-space: nowrap;
}


.button:hover ~ h3{
    color: #33a7a7;
}

.panel{
    align-self: center;  
    display: flex;
}
.panel > .button:hover{
    border-color: #0000004c;
}

.panel > .button:hover ~ h3{
    color: #0000004c;
}

.panel > .button ~ h3 {
    color: #ffffff00;
}

.profilePicture{
    margin-left: 3vh;
    margin-top: 2vh;
    align-self: center;
    justify-content: center;
    display: flex;
}

.profilePicture a {
    width: 8vh;
    height: 8vh;
    overflow:visible;
    margin-left:3vh;
}
.profilePicture img{   
    width: 60%;
    align-self: center;
    opacity: 80%;
}

.profilePicture h3 {
    color: #ffffff00;
}

a {
    text-decoration: none;
}

.profilePicture .element-shadow {
    width: 6vh;
    height: 6vh;
    border: 5px;
    border-style: solid;
    border-color: #ffffff;
    background-color: rgb(243, 242, 242);
    border-radius: 999px;
    align-self: center;
    justify-content: center;
    display: flex;
}

.profilePicture .navIcon i{
    color:rgb(58, 58, 58);
    font-size: 4vh;
}
.profilePicture > h1 {
    font-size: 3vh;
    margin: 0px 1vh 0px 0px;
    padding-top: 2vh;
    font-weight: bolder;
    color: #00000055
}


#status-panel{
    flex-direction: column;
    height: 6vh;
}


i{
    font-size: 4vh;
    padding: 10px 10px;
}

#status-panel *{
    margin: 0px 1vh;
}


.clock{
    font-family: Clock Font;
    font-size: 4vh;
    font-weight:bolder;
    display: inline;
    align-self: center;  
}

.location{
    font-size: 3vh;
    font-weight: bolder;
}

.location i{
    color: rgb(84, 135, 229);
}

.online{
    color: rgb(56, 188, 100);
}

.offline{
    color: rgb(151, 151, 151);
}

.status{
    font-size: 3vh;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

#home-page{
    height: 72vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 5vh;
    overflow-y:scroll;
    overflow-x:hidden;
    align-items:center;
}

#project-view {
    width: 100vw;
    height: 52vh;
    position: relative;
    border-radius: 5vh;
    background-image: linear-gradient(#89898900,#a4a4a4ca,#89898900);
}

#carousel-nav button {
    border-radius: 40vh;
    border-color: #1a1a1a44;
    margin: 0vh 1vh;
    width: 15vw;
    height: 5vh;
    cursor: pointer;
}

#carousel-nav i {
    font-size: 3vh;
    padding: 0.5vh;
    color: #1a1a1a44;
}

#carousel-nav {
    height: 4vh;
    width: 100vw;
    display: flex;
    justify-content: center;

    position: absolute;
    z-index: 1;
    bottom: 1vh;
}

#carousel-nav-top {
    height: 4vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 10vh;
}

#carousel-header {
    width: 100%;
    height: 10vh;
    position: absolute;
    z-index: -1;
    top: 0%;
    color: black;
    display: flex;
    justify-content: center;
    color: #1a1a1a44;
    font-size:2.5vh;
}

#carousel-view {
    margin-top: 7vh;
    height: 38vh;
    overflow-y: scroll;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.projectCarousel {
    margin-top: 1vh;
    margin-bottom: 10vh;
    padding-left: 3vw;
    margin-left: 0vw;
    scroll-margin-left: 10vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
}

.projectIcon {
    display: flex;
    flex-direction: column-reverse;
}

.projectIcon img{
    width : 30vh;
    height: 30vh;
    border-radius: 2px;
}

.projectIcon .button{
    border-radius: 2px;
    display: flex;
}

.projectIcon h3 {
    width: 40vh;
    font-size: 3vh;
    margin-left: -5vh;
    margin-right: -5vh;
    text-align: center;
}

.miniProjectIcon img{
    width : 5vw;
    height: 5vw;
    border-radius: 1px;
}

.miniProjectIcon .button{
    border-radius: 2px;
    display: flex;
}

/*defines the space after the final project icon*/
.projectCarousel > *:last-child{
    padding-right: 10vh;
}


.navButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:83vh;
}

.navButtons h3 {
    color: rgb(83, 83, 83, 0.30);
    width: 19vh;
    margin-left: -4vh;
    margin-right: -4vh;
}

.navIcon{
    align-self: center; 
    margin: 0.1vh 0.2vw;
    width: 10vh;
    height: 10vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}


.navIcon .element-shadow{
    background-color:rgb(243, 242, 242);
    border-radius: 999px;
    display: flex;
    justify-content: center;
}

.navButtons .navIcon .element-shadow {
    width: 10vh;
    height: 10vh;
    display: flex;
    align-items: center;
}

.navIcon i{
    align-self: center;
    text-align: center;
    font-size: 7vh;
}

.navIcon img {
    width: 70%;
    height: 70%;
}

.navButtons .navIcon i{
    color: rgba(0, 0, 0, 0.543);
    font-weight: bold;
    font-size: 5.5vh;
}

.currentNav {
    width: 15vh;
    height: 15vh;
}

footer {
    width: 100%;
    background-color: #ffffff00;
    background-color: #ffffff00;
    position: absolute;
    bottom: -500px;
}

footer > div{
    width: 100%;
}

@media (pointer: fine) {

    footer {
        position: static;
    }

    body{
        margin: 0px 0px;
    }

    .navIcon {
        margin: 0vh 0.8vw;
    }
}

.thick-line{
    width:97%;
    border-width: 1px;
    border-color: #00000048;
    margin: 1vh 3vh;
}

#bottom-bar{
    flex-direction: row;
    display: flex;
    width : 100%;
    justify-content: space-between;
    align-items: center;
}

#bottom-bar h3{
    font-size: 3vh;
    padding: 0.5vh 1vh;
    margin: 0px 0px;
}

#system-icon{
    font-size: 4vh;
    color: #00000076;
    margin: 0px 1vh;
    align-items: center;
    display: flex;
}

#system-icon i{
    padding: 0.5vh 1vh;
}

.control-panel{
    font-size: 4vh;
    color: #000000b7;
    display: flex;
    align-items: center;
    margin: 0px 1vh;
}

.control-panel i{
    padding: 0.5vh 0.5vh;
}

.control-panel a{
    color: #000000b7;
}

.control-button{
    margin: 0px 0.5vh;
    display: flex;
}

#back-arrow{
    margin: 0vh 1vh;
}

#title-header{
   width: 100%;
   margin-left: auto;
   margin-right: auto;
}

#title-header h1{
    margin: 2vh 8vh;
    font-size: 4.5vh;
}

#game-header {
    align-self:end;
    width: 100vw;
    font-size: 4.5vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top: 2vh;
}

#game-header img {
    align-self:center;
    margin-top: 2vh;
    height: 12vh;
}



.description-box {
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 2.5vh;
        font-weight:500;
    }

.description-box p{
    width: 50vw;
    padding: 1% 0;
    text-wrap:wrap;
}

.key-list {
    font-size: 3vh;
    margin-inline-start: 3vw;
    font-weight:600;
}

#nav-menu {
    height: 80vh;
    width: 25vw;
    position: fixed;
    margin: 0px 0px;
    margin-bottom: 5vh;
    background-color: #f5f5f51e;
    background-image: linear-gradient(#ffffff00,#fffcfc6c,#ffffff00);
    overflow-y:scroll;
    overflow-x:hidden;
}

#nav-menu img{
    width: 6.5vh;
    height: 6.5vh;
}

#nav-menu .button {
    border-radius: 1vh;
    display: flex;
    max-height: 9.5vh;
    align-items: center;
}

#nav-menu h3{
    font-size: 2.5vh;
    margin: 2vh 1vh;   
}

#nav-menu > *{
    width: 70%;
    margin-left: 20%;
}

#nav-menu a{
    color: #000000;
}

#profile-section{
    width:  65vw;
    height: 80vh;
    margin-left: 30vw;
    margin-top: 1vh;
    margin-bottom:5vh;
    align-items: center;
    overflow-y: scroll;
}


#id-card{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#id-card ul{
    list-style-type:none;
    padding-inline-start: 1vh;
}

#id-card button{
    border-color: #434343;
}

.id-info {
    border-radius: 1vh;
    min-width: 30vw;
    max-width: fit-content;
    text-align: center;
    font-size: 3vh;
    align-items: center;
    margin-left: 4vh;
    padding: 1.5vh 0vh 1.5vh 0vh;
}

.id-info i{
    margin-right: 2vh;
    padding: 0vh 2vh 1vh 0vh;
}

#id-photo{
    height:35vh;
    width:35vh;
    border-radius: 1vh;
}

#id-photo img {
    width: 100%;
    height: 100%;
}

#certificate{
    width: 30vw;
    height: 15vw;
    border-radius: 1vh;
}

#certificate img {
    width: 100%;
    height: 100%;
}

.game-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.game-buttons img {
    width: 15vw;
}

.game-buttons a {
    margin: 0vw 1vw 0vw 1vw;
}

.game-trailer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.game-trailer iframe {
    width: 55vw;
    height: 30.9375vw;
}

.game-trailer img {
    width: 40vw;
}

.game-embed {
    width: 100%;
    display: flex;
    justify-content: center;
}
.game-embed iframe {
    border: 0.8vh;
    border-style: solid;
    border-radius: 8px;
    border-color:gray;
}

.screenshot-carousel{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.mini-project-carousel {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.mini-project-carousel img {
    height: 21vh;
    width: 21vh;
}

.mini-project-carousel .button {
    border-radius: 2px;
}

.game-screenshot{
    width: 30vw;
}

.screenshot-carousel img{
    height: 30vh;
}

.grid-descriptions{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.grid-descriptions > div{
    width: 25vw;
}

.grid-descriptions img{
    width: 25vw;
    height:18vw;
}


#script-buttons {
    width: 100%;
    overflow-x: scroll;
    overflow-y:hidden;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#script-buttons img {
    width: 15vw;
}

#script-buttons > * {
    border: 0.6vh;
    border-style: solid;
    border-radius: 8px;
    margin: 0vw 1vw 0vw 1vw;
    font-size: 2vh;
    padding: 1vh 1vw 1vh 1vw;
    font-family: "Clock Font";
    cursor: pointer;
}

#script-buttons button {
    border-color: #494949ff;
}

#script-buttons > *:hover {
    border-color: #bababaff;
}

#script-buttons i {
    font-size: 2.5vh;
    padding:0px;
    margin: 0px 0.2vh 0px 0.2vh;
}

.repo-button {
    background-color: #121212c5;
    color: white;
    border-style: solid;
    border-color: #bababaff;
    display:flex;
    
}

.repo-button:hover {
    border-color: #494949ff;
}

.code-viewer {
    width: 60vw;
    margin-top: 2vh;
    font-family: "Clock Font";
    border: 0.8vh;
    border-style: solid;
    border-radius: 8px;
    border-color: #121212c5;
    color: white;
    background-color: #c4c4d1;
    overflow: hidden;
}

#script-name {
    font-size: 2.5vh;
    padding: 2vh 2vw 2vh 2vw;
    background-color: #121212c5;
}

.code-viewer pre {
    height: 50vh;
    width: 60vw;
    margin: 0px;
    overflow: scroll;
    scroll-behavior:smooth;
}


#contact-man {
    width: 25vw;
    display: flex;
    justify-content: center;
    margin-left: 0px;
}

#contact-man img {
    height: 55vh;
    width: 30vh
}

#contact-man-name {
    margin: 1vh 1vh 1vh 2vh;
    font-size: 4vh;
    color: #00000099;
    font-weight: bolder;
    text-decoration:underline;
}

#dialogue-box {
    width: 60vw;
    max-width: 70vw;
    height: 30vh;
    border: 0.5vh solid #0000006f;
    background-color: #00000039;
    border-radius: 5vh;
    cursor: pointer;
    display:flex;
}

#dialogue-box img {
    width: 15vw;
    border-radius: 5vh;
}

.dialogue-text {
    width:35vw;
    padding: 1vh 4vh 1vh 4vh;
    margin-left: 3vh;
    font-size: 3.5vh;
    font-family: 'Clock Font', Consolas;
    color: #000000a6;
}

.dialogue-text p{
    margin:0px;
}

#fcf-form-id {
    margin-left: 3vh;
    margin-top: 2vh;
    font-size: 3vh;
    font-family: 'Clock Font', Consolas;
    color: #00000099;
}
.fcf-form-row{
    display:flex;
}

.fcf-form-group{
    margin-right: 3vh;
}

#fcf-form-id input {
    width: 45vh;
    max-width: 27.5vw;
    height: 4vh;
    font-size: 3vh;
    font-family: 'Clock Font', Consolas;
    border: 0.5vh solid #0000006f;
    background-color: #ffffff39;
    border-radius: 1vh;
}

#fcf-form-id textarea {
    width: 100vh;
    max-width: 55vw;
    font-size: 3vh;
    font-family: 'Clock Font', Consolas;
    border: 0.5vh solid #0000006f;
    background-color: #ffffff39;
    border-radius: 1vh;
}

#fcf-form-id button {
    font-size: 2.5vh;
    font-family: 'Clock Font', Consolas;
    border: 0.5vh solid #0000006f;
    border-radius: 1vh;
    color: #00000099;
    border-radius: 1vh;
    min-width:25vh;
    height: 4vh;
}

#orientation-warning {
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    color: #000000cb;
    background-color: #e1e1e1;
    background-image: url("assets/background.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    text-align: center;
    font-size: 5vw;
}

#orientation-warning img{
    width: 55vw;
    height: 55vw;
    border-radius: 5vw;
}

#orientation-warning i {
    font-size: 20vw;
    color: #0000004c;
}

#orientation-warning h1 {
    font-size: 8vw;
    font-weight: bolder;
    margin: 1vh 0vh;
}

#orientation-warning h2{
    font-size: 6vw;
    margin: 1vh 0vh;
}

#orientation-message{
    margin: 1vh 0vh;
}

@media (orientation: landscape) {
    #orientation-warning{
        visibility: hidden;
    }
  } 
  @media (orientation: portrait) {
    #orientation-warning{
        visibility:visible;
    }
  }

@media (pointer: fine) {

    .projectCarousel {
        overflow-x: hidden;
    }

    #profile-section {
        height: 70vh;
    }

    #nav-menu {
        height: 70vh;
    }
}

